.Person {
    width: 60%;
    margin: 10px auto;
    border: 1px solid #282828;
    box-shadow: 0 2px 4px #eee;
    padding: 16px;
    text-align: center;
}

@media (min-width: 500px) {
    .Person {
        width: 450px;
    }
}