.App {
  text-align: center;
}

.red {
  color: rgb(194, 29, 29);
}

.bold {
  font-weight: bold;
}

.Button {
background-color: green;
color: white;
font: inherit;
border: 1px solid black;
padding: 8px;
cursor: pointer;
}

.Button:hover { 
  background-color: lightgreen;
  color: black; 
}

.Button.Red {
  background-color: rgb(90, 0, 0);
}

.Button.Red:hover { 
  background-color: rgb(241, 97, 13);
  color: black; 
}